:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --fourth-bg-color: #f5f4fa;
  --nav-footer-color: rgba(255, 255, 255, 0.6);
}
