.works {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-box {
  background-color: var(--primary-white-color);
  padding-bottom: 92px;
}

.section-work {
  background-color: var(--primary-white-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.about-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-thumb {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    bottom: 0%;
  }
}

.thumb-text {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  bottom: 0px;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
  color: var(--primary-white-color);
}
